#chart1{

  width:365px !important;
  height:350px !important;
}

#chart1 .ct-bar{
  stroke-width: 25px;
  stroke:palegoldenrod;
}
#chart1 span{
  font-weight:700;
}
#chart1 .ct-axis-title{
  font-weight:500;
  font-size:0.95rem;
}
#chart2{

  width:365px !important;
  height:350px !important;
}
#chart2 .ct-series-a .ct-area{
fill:darkgoldenrod;
}
#chart2 .ct-series-a .ct-point{
stroke:palegoldenrod;
}
#chart2 .ct-series-a .ct-line{
stroke:palegoldenrod;
}
#chart2 span{
  font-weight:700;
}
#chart2 .ct-axis-title{
  font-weight:500;
  font-size:0.95rem;
}
#chart3{

  width:250px !important;
  height:250px !important;
}
#chart3 .ct-label{
	font-weight:700;
	fill:ghostwhite;
}
#chart3 .ct-series-a .ct-slice-pie{
fill:palegoldenrod !important;
}
#chart3 .ct-series-b .ct-slice-pie{
fill:antiquewhite !important;
}
#chart3 .ct-series-c .ct-slice-pie{
fill:lavender !important;
}
#chart3 text{
	fill:rgba(0, 0, 0, 0.4) !important;
}
#chart4{

  width:250px !important;
  height:250px !important;
}
#chart4 .ct-label{
	font-weight:700;
	fill:ghostwhite;
}
#chart4 .ct-series-a .ct-slice-pie{
fill:palegoldenrod !important;
}
#chart4 .ct-series-b .ct-slice-pie{
fill:grey !important;
}
#chart4 text{
	fill:rgba(0, 0, 0, 0.4) !important;
}

#chart5{

  width:250px !important;
  height:250px !important;
}

#chart5 .ct-bar{
  stroke-width: 25px;
  stroke:palegoldenrod;
}
#chart5 span{
  font-weight:700;
}
#chart5 .ct-axis-title{
  font-weight:500;
  font-size:0.95rem;
}