h1, h2, h3, h4, h5, h6 {
font-family:quicksand,sans-serif !important;
}
h5{
font-weight:700;
}
hr {
    border-color: #d2d2d2;
    width: 60px;
    height: 1px;
    margin-bottom:10px !important;
    margin-top:0px !important;
}

.graphscontainer{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:.5em;
  transition: 0.3s;
  padding-top:8px;
  padding-bottom:8px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color:white;
  width:880px;
  height:800px;
}

.graphscontainerheader{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:.5em;
  transition: 0.3s;
  padding-top:8px;
  padding-bottom:8px;
  margin: auto;
  margin-top: 16px;
  margin-bottom: 0;
  background-color:white;
  width:880px;
  height:75px;
}

.svheader{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius:.5em;
  transition: 0.3s;
  padding-bottom:12px !important;
  margin-top: 10px;
  background-color:white;
}
.svheadertext{
text-align:left;
padding-left:8px;
}
#contentcontainer{
background-color:#f2f7fb;
}
.w3-row-padding img{
width:270px;
}
.cardcontainer{
margin:auto;
position:relative;
width:246px !important;
height:42px !important;
}
.costicon{
height:22px !important;
width:22px !important;
}
.costcontainer{
position:absolute;
top:0;
left:13px;
}
.cardnamecontainer{
position:absolute;
top:12px;
left:53px;
font-size:11px;
font-family:Verdana !important;
font-weight:700;
color:white !important;
height:16px;
width:160px;
overflow: hidden;
text-overflow:ellipsis;white-space: nowrap;
}
.amountcontainer{
position:absolute;
top:11px;
left:225px;
font-size:13px;
font-family:Verdana !important;
color:white !important;
}
.raritycontainer{
position:absolute;
top:18px;
left:0;
}
.rarityicon{
width:50px !important;
height:16px !important;
}
.cardbanner{
width:246px !important;
height:42px !important;
}
#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}